@import "../css/normalize.css"

.container
	margin 20px auto
	width 1000px
	
.activeTag
	color #0070E3

.categorias
	ul
		list-style-type none
		margin 0
		padding 0
		div
			li
				margin 5px
				display inline-block
				cursor pointer
	
.tags
		overflow hidden
		border 1px #919191 solid
		width 100%
		padding-top 4px
		padding-left 4px
		margin 2px
	.tag
		background #64C5E0
		overflow hidden
		position relative
		top 0
		display inline-block
		text-align center
		padding 0 30px
		margin 0 2px
		span
			color #FFF
			display block
			padding 2px
		.cerrar
			position absolute
			right 5px
			display block
			span
				color #000
				cursor pointer
			
